
@{
    Layout = "_Layout";
}

<section class="mt-3">
    <center>
        <div class="mt-5 p-5 bg-primary rounded text-white">
            <h1>Welcome to Home Page</h1>
            <p>lorem ipsum..................</p>
        </div>
    </center>
</section>

